.symptoms{
     
    &__section{
       width: 100%;
       padding-right: 15px;
       padding-left: 15px;
       margin-right: auto;
       margin-left: auto;
    }
   
   
     &__title{
           text-align: center;
           font: Bold 35px/39px Cairo;
           letter-spacing: 0;
           color: #1078AD;
           margin-bottom: 40px;
       } 
       .row{
        display: grid;
        grid-template-columns: repeat(2,50%);
       
       }
       &__card{
           text-align: center;
           padding: 30px;
            
           img{
               width: auto;
           height: 20vh;
           margin-bottom: 25px;
           }
           h5{
               font-size: 25px;
               font-weight: 700;
               letter-spacing: 0;
               color: #1078AD;
           }
       }
   }


   @media only screen and (max-width: 750px){
       .symptoms{
    
           .row{
            display: grid;
            grid-template-columns: 100%;
           
           }
 
       }
   }
